.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.input {
  flex: 1;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

.input:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 5px rgba(108, 99, 255, 0.3);
}

.button {
  padding: 12px 20px;
  background: #c089d7;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.button:hover {
  background: #5548e8;
}